<form>
  <legend>Test basique</legend>

  <div class="form-group">
    <span>Variable d'environnement :</span>
    <p style="font-style: italic; font-weight: bold">{{ configurableVariable }}</p>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="name">Input : </label>
        <input id="name" name="name" class="form-control" [(ngModel)]="name" type="text"/>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        <label>Output : </label>
        <p *ngIf="name">Hello {{name}}!</p>
      </div>
    </div>
  </div>

</form>
